@using xpos319.viewmodels;
@model VMTblVariant
@{
	Layout = null;
	ViewData["Title"] = "Detail Variant";
}

<div class="h4 mb-4">
	<p><small>Nama Variant</small> : <strong>@Model.NameVariant</strong></p>
	<p><small>Nama Category</small> : <strong>@Model.NameCategory</strong></p>
	<p><small>Nama Description</small> : <strong>@Model.Description</strong></p>
</div>

