
        <div class="bg-white">
            <div class="p-3">
                
                <h2 class="mt-3 text-center">Sign In</h2>
                <p class="text-center">Enter your email address and password to access admin panel.</p>
                <form class="mt-4" id="form_login">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" for="Email">Email</label>
                                <input class="form-control" id="Email" name="Email" type="email"
                                       placeholder="enter your email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class="text-dark" for="Password">Password</label>
                        <input class="form-control" id="Password" name="Password" type="password"
                                       placeholder="enter your password">
                            </div>
                        </div>
                        <div class="col-lg-12 text-center">
                            <button type="submit" class="btn btn-block btn-dark">Sign In</button>
                        </div>
                        <div class="col-lg-12 text-center mt-5">
                            Don't have an account? <button class="btn btn-link text-danger" id="btn_register">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
 
<script>
    $("#btn_register").click(function(){
        $("#modal_body").empty()
        $("#modal_body").load("Auth/Register")
        $("#modal").modal("show")
    })

    $("#form_login").validate({

        errorClass:"is-invalid text-danger",
        rules:{
            Email:{
                required: true,
                email: true,
            },
            Password: "required",
        },
        messages:{
            Email: {
                required: "please fill email",
                email: "please fill a valid email",
            },
            Password: "please fill password",
        },
        submitHandler: function(form){
            var email = $("#Email").val()
            var password = $("#Password").val()

            $.ajax({
                url:"/Auth/LoginSubmit",
                data: {email: email, password: password},
                type: "post",
                dataType: "json",
                success: function(respon){
                    var data = respon.dataRespon

                    if(data.success){
                        $("#modal").modal("hide")
                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 2000,
                                fadeOut: 2000,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )

                    }
                    else{
                        toastr.errorClass(data.message)
                    }
                }
            })
        }
    })
</script>