@using xpos319.datamodels;
@model TblCategory


@{
	Layout = null;
	ViewData["Title"] = "Detail Page";
}

<div class="h4 mb-4">Detail Page</div>
<div>
    <p>Name category: @Model.NameCategory</p>
    <p>Description: @Model.Description</p>
</div>