@using xpos319.viewmodels;
@model VMTblCategory;

@{
	Layout = null;
	ViewData["Title"] = "Data Detail";
}

<div class="h4 mb-4">
	<h1>@Model.NameCategory</h1>
	<p><small>@Model.Description</small></p>
</div>
