@using xpos319.viewmodels;

@model VMTblVariant
@{
    Layout = null;
    ViewData["Title"] = "Create Variant";
}

<div class="card">
    <div class="card-body">
        <div class="card-title" @ViewData["Title"]></div>
        <form asp-action="Create" method="post" id="form_input">

            <div class="mb-4 row">
                <label for="NameVariant" class="col-sm-4 col-form-label">Name Variant</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="NameVariant" name="NameVariant">
                    <span id="validate_NameVariant" class="text-danger"></span>
                     @*<span asp-validation-for = "NameVariant" class="text-danger"></span>*@  
                </div>
            </div>
            <div class="mb-4 row">
                <label for="IdCategory" class="col-sm-4 col-form-label">Name Category</label>
                <div class="col-sm-10">
                    @Html.DropDownList("IdCategory", new SelectList(ViewBag.ListCategory,"Id","NameCategory"),
                    "--Pilih Category--", new {@class = "form-control"})
                </div>
            </div>
            <div class="mb-4 row">
                <label for="Description" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" id="Description" name="Description"></textarea>
                    @* <span asp-validation-for="Description" class="text-danger"></span> *@
                </div>
            </div>


            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Variant" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>
    </div>


</div>

<script>
    $("#form_input").validate({
        errorClass: "text-danger",
        rules: {
            NameVariant: {
                required: true,
                minlength: 5,
            },
            IdCategory: "required",
        },
        messages: {
            NameVariant: {
                required: "Tolong isi Nama",
                minlength: "Tolong Lebih Dari 5"
            },
            IdCategory: "Isi categorynya",

        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize()
            //debugger //Buat mendibug
            var name = $("#NameVariant").val()
            var idCategory = $("#IdCategory").val()
            var id = 0


            $.ajax
                ({
                    url: "/Variant/CheckByName",
                    type: "get",
                    //method : "get",
                    data: { name: name, id: id, idCategory : idCategory },
                    dataType: "json",
                    success: function (respon) {
                        if (respon) {
                            $("#validate_NameVariant").text("Name Variant is Exist")
                            return true
                        }
                        else {
                            fungsiSubmit(dataForm)
                        }
                    }
                })
        }

    })

    function fungsiSubmit(dataParam) {
        $.ajax
            ({
                url: '/Variant/Create',
                type: "post",
                data: dataParam,
                dataType: "json",
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#modal").modal("hide")
                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 1000,
                                fadeOut: 1000,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {
                        toastr.errorClass(data.message)
                    }
                }
            })
    }

</script>
