@using xpos319.datamodels;

@model TblRole

@{
    Layout = null;
    ViewData["Title"] = "Delete Role";
}

<div>
    <h3>Apa anda yakin mau delete @Model.RoleName ?</h3>
</div>
<div class="modal-footer">
    <form asp-action="SureDelete" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <button type="submit" class="btn btn-secondary">Delete</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Cancel</a>
    </form>
</div>

<script>
    function functionSubmit(dataParam) {
        $.ajax({
            url: "Role/SureDelete",
            type: "post",
            data: dataParam,
            dataType: "json",
            success: function (respon) {
                var data = respon.dataResponse;

                if (data.success) {
                    $("#modal").modal("hide")

                    toastr.success(
                        data.message,
                        '',
                        {
                            timeOut: 3000,
                            fadeOut: 3000,
                            onHidden: function () {
                                window.location.reload()
                            }
                        }
                    )

                } else {
                    toastr.errorClass(data.message)
                }
            }
        })
    }
</script>

